<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对用的Dao(Mapper)接口-->
<mapper namespace="com.kuang.dao.StudentMapper">
<!--    按照结果嵌套处理:更简单一些-->
    <select id="getStudents" resultMap="StuTea">
        select s.id sid, s.name sname, t.id tid, t.name tname
        from student s,teacher t
        where s.tid=t.id
    </select>
    <resultMap id="StuTea" type="Student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="teacher" javaType="Teacher">
            <result property="id" column="tid"/>
            <result property="name" column="tname"/>
        </association>
    </resultMap>


<!--按照查询嵌套处理-->
    <select id="getStudents1" resultMap="ST">
        select * from student
    </select>
    <resultMap id="ST" type="Student">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="teacher" column="tid" javaType="Teacher" select="getTeacher"/>
    </resultMap>
    <select id="getTeacher" resultType="Teacher">
        select * from teacher where id=#{tid}
    </select>
</mapper>
