<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对用的Dao(Mapper)接口-->
<mapper namespace="com.kuang.dao.UserMapper">
<!--resultMap测试-->
    <resultMap id="UM" type="haha">
<!--        column是数据库中的字段，preperty是实体类的属性名-->
        <result column="pwd" property="password"/>
<!--        <result column="id" property="id"/>-->
<!--        <result column="name" property="name"/>-->
    </resultMap>
    <select id="getUserById" resultMap="UM">
        select * from mybatis.user where id = #{id}
    </select>
</mapper>

